.company-info-container {
  width: 980px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: #d8f2e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin: auto;
  margin-top: 25px;
}
.text-content {
  flex: 1;
  padding: 20px;
}

.text-content h1 {
  color: #000;
  font-size: 42px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: justify;
}

.text-content p {
  color: #000;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 450;
  line-height: 136.023%;
}

.image-container {
  flex: 1;
  text-align: right;
}

.image-container img {
  width: 250px;
  height: 350px;
  flex-shrink: 0;
  margin-right: 50px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container {
  gap: 100px;
}

.imglogo {
  width: 570px;
  height: 520px;
}

/* Section 1: Company Info Wrapper */
.company-info-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #f9f9f9; /* Light background color */
  gap: 150px;
}

.text-section {
  flex: 1;
  padding: 20px;
  max-width: 450px;
}

.text-section h1 {
  font-size: 35px;
  font-weight: 900;
}

.text-section p {
  font-size: 18px;
  font-weight: 500;
  width: 450px;
}

.image-section {
  flex: 1;
  text-align: right;
  max-width: 340px;
}

.image-section img {
  margin-top: 40px;
  height: 520px;
}

/* Section 2: Commitment Wrapper */

.commitment-title {
  color: #000;
  font-size: 40px;
  font-weight: 800;
}

.commitment-description {
  margin: auto;
  text-align: center;
  width: 772px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}

.commitment-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d8f2e7;
  text-align: center;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  border-radius: 30px;
  margin-top: 10px;
}

.commitment-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-top: 15px;
  flex-wrap: wrap; /* Allow wrapping */
}

.commitment-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 200px; /* Ensure enough space */
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.commitment-icon img {
  width: 91px; /* Set width for all images */
  height: 91px; /* Set height for all images */
  object-fit: cover; /* Ensure the image covers the space without distortion */
  margin-bottom: 10px;
}

.commitment-icon p {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 800;
  line-height: 1.4;
  margin: 0;
  width: 89px;
  height: 60px;
  overflow-wrap: break-word;
  display: block; /* Ensures the text stays below the image */
}

/* Section 3: Authenticity Wrapper */
.authenticity-wrapper {
  background: var(--Gray-100, #f7fafc);
  padding: 40px;
  text-align: center;
  width: 980px;
  margin: auto;
  margin-top: 30px;
}

.authenticity-title {
  font-size: 35px;
  font-weight: 800;
}

.authenticity-description {
  margin: auto;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}

.authenticity-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  justify-content: center; /* Center cards in desktop view */
}

.authenticity-card {
  width: 280px;
  height: 320px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  background-color: #fff;
  border-radius: 6px;
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for shadow */
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.137); /* Shadow increases on hover */
}

.authenticity-card img {
  max-width: 70px;
  height: auto;
}

.authenticity-card h3 {
  text-align: center;
  font-size: 17px;
  font-weight: 800;
  padding-top: 10px;
}

.authenticity-card p {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding-top: 10px;
}

.grow-section {
  border-radius: 12px;
  width: 100%;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.headline-grow {
  font-size: 2.5em;
  font-weight: 800;
  color: #003c26;
}

.subheadline-grow {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 500;
}

.signup-button-grow {
  background-color: #65d235;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 10px 40px;
  font-size: 1.6em;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  display: inline-block; /* For responsiveness */
  text-align: center;
}

.faq-container {
  padding: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 60px;
}

.faq-headline {
  color: #212121;
  font-size: 2.3em;
  font-weight: 800;
  margin-bottom: 25px;
  text-align: left;
}

.faq-item {
  border-bottom: 1px solid #eee;
  padding: 7px 0;
  cursor: pointer;
  user-select: none;
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.faq-answer {
  color: #666;
  line-height: 1.6;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  margin-bottom: 10px;
}

.arrow-down {
  border: solid #777;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
  margin-left: 30px;
}

.faq-item.open .arrow-down {
  transform: rotate(-135deg);
}

.footer-content {
  padding-top: 30px;
}

.registerpara {
  font-size: 20px;
}

.navbar {
  padding: 30px 100px;
}

@media (max-width: 640px) {
  .commitment-wrapper{
    margin-top: -8px !important;
  }
  .navbar {
    padding: 20px 13px !important;
  }
  .seller {
    font-size: 22px !important;
    text-align: center !important;
  }

  .registerpara {
    font-size: 14px !important;
    text-align: center !important;
  }

  .butn {
    text-align: center !important;
    padding-top: 30px !important;
    padding: 0px 30px;
  }

  .signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imglogo {
    width: 416px !important;
    height: 420px !important;
  }

  .subheadline-grow {
    font-size: 18px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .company-info-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
  }

  .image-section img {
    width: 335px !important;
    height: 400px !important;
    margin-top: -152px;
  }

  .text-section {
    text-align: center;
    order: 1 !important;
  }

  .image-section {
    order: 2 !important;
  }

  .text-section p {
    width: 100% !important;
    font-size: 13px !important;
  }

  .commitment-description {
    font-size: 13px !important;
    width: 338px !important;
    height: 60.59px;
  }

  .commitment-icons {
    display: flex;
    flex-wrap: wrap; /* Allows the icons to wrap into multiple rows */
    justify-content: center; /* Centers the icons */
  }

  .commitment-icon {
    width: 106px !important;
  }

  .commitment-icon img {
    max-width: 60px !important; /* Adjust the icon size for mobile */
    height: auto;
    margin-bottom: 10px;
  }

  .authenticity-wrapper {
    width: 376px !important;
    padding: 5px !important;
  }

  .headline-grow {
    font-size: 1.5em !important;
  }

  .authenticity-description {
    font-size: 13px !important;
    width: 305px !important;
    height: 50px !important;
    font-size: 9px  !important;

   

    
  }

  .authenticity-cards {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important; /* Creates two columns */
    gap: 10px !important; /* Adjust gap between cards */
   
  }

  .authenticity-card {
    width: auto !important; /* Let grid handle width */
    margin: 0 !important; /* Remove individual margins as gap handles spacing */
    height: auto !important;
  }

  .authenticity-card p {
    font-size: 8px !important;
  }

  .authenticity-card h3 {
    font-size: 11px !important;
  }

  .faq-question {
    font-size: 16px !important;
  }

  .container {
    display: block !important;
  }

  .firstlist {
    display: none !important;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    gap: 0 !important;
    padding-left: 0px !important;
  }

  .imglogo {
    height: 320px !important;
  }

  .signup-button-grow {
    font-size: 1em !important;
  }

  .text-section h1 {
    font-size: 21px;
  }
  .company-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .text-content h1 {
    font-size: 25px;
    text-align: center;
  }
  .text-content p {
    font-size: 11px;
    text-align: center;
  }
  .image-container img {
    height: 250px;
  }
  .commitment-title {
    font-size: 28px;
  }
  .authenticity-title {
    font-size: 25px;
     width: 297px !important;
    height: 72px !important;
    margin: auto;
  }
  .authenticity-card img{
    max-width: 50px !important;
  }
 
}

@media (min-width: 641px) and (max-width: 1024px) {
  .seller {
    font-size: 35px;
  }
  .registerpara {
    font-size: 17px;
  }
  .imglogo {
    width: 350px;
    height: 400px;
  }
  .flex-container {
    padding-left: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .image-section img {
    width: 400px;
  }
  .company-info-wrapper {
    justify-content: space-around;
    gap: 50px;
  }
  .text-section p {
    width: 100%;
  }
  .authenticity-wrapper {
    width: 805px;
  }
  .authenticity-description {
    font-size: 20px;
  }

 
}
