.refund-policy-container {
  max-width: 750px;
  margin: auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;

  section {
    margin-bottom: 20px;

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 8px;
    }

    h4 {
      font-size: 16px;
    }

    p {
      font-size: 13px;
      color: #000000;
    }

    ul {
      padding-left: 20px;
      list-style-type: disc;

      li {
        font-size: 13px;
        margin-bottom: 5px;
      }
    }
  }

  address {
    font-style: normal;
    padding-top: 10px;
    font-size: 12.5px;
    color: black;
  }

  a {
    color: black;
    text-decoration: none;
  }
}
