.guide-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
}

.guide-title {
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.guide-wrapper {
  display: flex;
}

.guide-sidebar {
  padding: 20px;
  border: '2px solid black';
}

.guide-box {
  width: 290px;
  border: 1px solid #ddd;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.guide-box h4 {
  color: black;
  font-size: 14px;
}

.guide-box ul {
  font-size: 12px;
  padding-left: 20px;
  margin-bottom: 15px !important;
}

.step-box {
  margin-bottom: 20px;
}

.step-box h4 {
  color: #000000;
  font-size: 15px;
}

.step-box ul {
  font-size: 14px;
  padding-left: 20px;
}

//   second section-----

.guide-content {
  width: 650px;
  border: 1px solid #ddd;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: 20px !important; /* Ensure it's not overridden */
}
.guide-details h4 {
  margin-bottom: 10px !important;
}

@media (max-width: 640px) {
  .guide-container .guide-title {
    font-size: 16px;
  }
  .guide-sidebar {
    padding: 0px;
  }
  .guide-wrapper {
    flex-direction: column;
  }
  .guide-wrapper .guide-content {
    width: 100%;
  }
  .guide-wrapper .guide-box {
    width: 100%;
  }
}
